<a href="https://colab.research.google.com/github/PierreCasco/lab-3/blob/master/Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Coaching Case Study
 
 Pierre Casco

In [0]:
#Import functions
import numpy as np
import pandas as pd

In [3]:
#Create URL for Coaches dataset from github
url = 'https://raw.githubusercontent.com/2SUBDA/IST_718/master/Coaches9.csv'
#Create dataframe of Coaches dataset
df = pd.read_csv(url)
#View first 5 rows of dataset
print(df.head(5))

                  School Conference              Coach    SchoolPay  \
0              Air Force   Mt. West       Troy Calhoun       885000
1                  Akron        MAC       Terry Bowden    $411,000
2                Alabama        SEC         Nick Saban  $8,307,000
3  Alabama at Birmingham      C-USA         Bill Clark    $900,000
4      Appalachian State   Sun Belt  Scott Satterfield    $712,500

      TotalPay        Bonus  BonusPaid AssistantPay        Buyout
0       885000       247000         --          $0             --
1    $412,500     $225,000    $50,000           $0      $688,500
2  $8,307,000   $1,100,000   $500,000           $0   $33,600,000
3    $900,000     $950,000   $165,471           $0    $3,847,500
4    $712,500     $295,000   $145,000           $0    $2,160,417

In [0]:
#Remove '$' and ',' from columns in order to change string to numeric in this 
#function
def cleanColumns(a):
  a = a.map(lambda x: x.lstrip('$').rstrip())
  a = [x.replace(',','') for x in a]
  a = [x.replace('--','') for x in a]
  a = pd.to_numeric(a)
  return a

In [0]:
#Run columns through function
df['SchoolPay'] = cleanColumns(df['SchoolPay'])
df['TotalPay'] = cleanColumns(df['TotalPayPay'])
df['Bonus'] = cleanColumns(df['Bonus'])
df['BonusPaid'] = cleanColumns(df['BonusPaid'])
df['AssistantPay'] = cleanColumns(df['AssistantPay'])
df['Buyout'] = cleanColumns(df['Buyout'])

In [45]:
df

,School,Conference,Coach,SchoolPay,TotalPay,Bonus,BonusPaid,AssistantPay,Buyout
0,Air Force,Mt. West,Troy Calhoun,885000.0,885000,247000.0,NaN,0,NaN
1,Akron,MAC,Terry Bowden,411000.0,412500,225000.0,50000.0,0,688500.0
2,Alabama,SEC,Nick Saban,8307000.0,8307000,1100000.0,500000.0,0,33600000.0
3,Alabama at Birmingham,C-USA,Bill Clark,900000.0,900000,950000.0,165471.0,0,3847500.0
4,Appalachian State,Sun Belt,Scott Satterfield,712500.0,712500,295000.0,145000.0,0,2160417.0
5,Arizona,Pac-12,Kevin Sumlin,1600000.0,2000000,2025000.0,NaN,0,10000000.0
6,Arizona State,Pac-12,Herm Edwards,2000000.0,2000000,3010000.0,NaN,0,8166667.0
7,Arkansas,SEC,Chad Morris,3500000.0,3500000,1000000.0,NaN,0,12500000.0
8,Arkansas State,Sun Belt,Blake Anderson,825000.0,825000,185000.0,25000.0,0,300000.0
9,Army,Ind.,Jeff Monken,932521.0,932521,NaN,NaN,0,NaN
10,Auburn,SEC,Gus Malzahn,6700000.0,6705656,1400000.0,375000.0,0,32143750.0
11,Ball State,MAC,Mike Neu,435689.0,435689,380000.0,30000.0,0,980300.0
12,Baylor,Big 12,Matt Rhule,NaN,,NaN,NaN,0,NaN
13,Boise State,Mt. West,Bryan Harsin,1650010.0,1650010,475000.0,145000.0,0,7784038.0
14,Boston College,ACC,Steve Addazio,2514859.0,2514859,NaN,NaN,0,NaN
15,Bowling Green,MAC,Mike Jinks,437228.0,437228,245000.0,81250.0,0,874456.0
16,Brigham Young,Ind.,Kalani Sitake,NaN,,NaN,NaN,0,NaN
17,Buffalo,MAC,Lance Leipold,455500.0,455500,381000.0,0.0,0,1020833.0
18,California,Pac-12,Justin Wilcox,1500000.0,1500000,900000.0,75000.0,0,7208500.0
19,Central Florida,AAC,Josh Heupel,1700000.0,1700000,250000.0,NaN,0,3587500.0
20,Central Michigan,MAC,John Bonamego,655000.0,655000,415000.0,45000.0,0,1125000.0
21,Charlotte,C-USA,Brad Lambert,625000.0,625000,120000.0,0.0,0,556389.0
22,Cincinnati,AAC,Luke Fickell,2000000.0,2000000,625000.0,0.0,0,7100000.0
23,Clemson,ACC,Dabo Swinney,6205000.0,6543350,1125000.0,500000.0,0,35000000.0
24,Coastal Carolina,Sun Belt,Joe Moglia,400000.0,400000,800000.0,25000.0,0,516667.0
25,Colorado,Pac-12,Mike MacIntyre,2878500.0,2878500,2150000.0,297000.0,0,10314583.0
26,Colorado State,Mt. West,Mike Bobo,1800000.0,1800000,905000.0,50000.0,0,8000000.0
27,Connecticut,AAC,Randy Edsall,1100000.0,1100000,650000.0,129000.0,0,1000000.0
28,Duke,ACC,David Cutcliffe,2540928.0,2540928,NaN,NaN,0,NaN
29,East Carolina,AAC,Scottie Montgomery,1102500.0,1102500,850000.0,0.0,0,1233333.0
...,...,...,...,...,...,...,...,...,...
99,Southern Methodist,AAC,Sonny Dykes,NaN,,NaN,NaN,0,NaN
100,Southern Mississippi,C-USA,Jay Hopson,500000.0,500000,870000.0,15000.0,0,1583333.0
101,Stanford,Pac-12,David Shaw,4311543.0,4311543,NaN,NaN,0,NaN
102,Syracuse,ACC,Dino Babers,2401206.0,2401206,NaN,NaN,0,NaN
103,Tennessee,SEC,Jeremy Pruitt,3846000.0,3846000,1200000.0,NaN,0,11780000.0
104,Texas,Big 12,Tom Herman,5500000.0,5500000,725000.0,75000.0,0,15416667.0
105,Texas A&M,SEC,Jimbo Fisher,7500000.0,7500000,1350000.0,NaN,0,68125000.0
106,Texas Christian,Big 12,Gary Patterson,4840717.0,4840717,NaN,NaN,0,NaN
107,Texas State,Sun Belt,Everett Withers,700000.0,700000,70833.0,0.0,0,773958.0
108,Texas Tech,Big 12,Kliff Kingsbury,3703975.0,3703975,1500000.0,25000.0,0,4231250.0
109,Texas-El Paso,C-USA,Dana Dimel,700000.0,700000,741665.0,NaN,0,2991667.0
110,Texas-San Antonio,C-USA,Frank Wilson,1100000.0,1100000,185000.0,17500.0,0,3562500.0
111,Toledo,MAC,Jason Candle,1125000.0,1125000,585000.0,210000.0,0,3558333.0
112,Troy,Sun Belt,Neal Brown,810000.0,810000,490000.0,100000.0,0,2911667.0
113,Tulane,AAC,Willie Fritz,1629000.0,1629000,NaN,NaN,0,NaN
114,Tulsa,AAC,Philip Montgomery,1518177.0,1518177,NaN,NaN,0,NaN
115,UCLA,Pac-12,Chip Kelly,3300000.0,3300000,1085000.0,NaN,0,9000000.0
116,Utah,Pac-12,Kyle Whittingham,3787917.0,3787917,935000.0,279167.0,0,9250000.0
117,Utah State,Mt. West,Matt Wells,900000.0,900000,765000.0,65000.0,0,2122917.0
118,Vanderbilt,SEC,Derek Mason,2812523.0,2812523,NaN,NaN,0,NaN
119,Virginia,ACC,Bronco Mendenhall,3550000.0,3550000,2165000.0,75000.0,0,18193750.0
120,Virginia Tech,ACC,Justin Fuente,4000000.0,4000000,435000.0,75000.0,0,15000000.0
121,Wake Forest,ACC,Dave Clawson,1831580.0,1831580,NaN,NaN,0,NaN
122,Washington,Pac-12,Chris Petersen,4375000.0,4377500,1050000.0,300000.0,0,26354166.0
123,Washington State,Pac-12,Mike Leach,3500000.0,3500000,725000.0,75000.0,0,4900000.0
124,West Virginia,Big 12,Dana Holgorsen,3605000.0,3617500,1000000.0,90000.0,0,7150000.0
125,Western Kentucky,C-USA,Mike Sanford Jr.,800000.0,805850,400000.0,0.0,0,1200000.0
126,Western Michigan,MAC,Tim Lester,800000.0,800000,346500.0,39250.0,0,800000.0
127,Wisconsin,Big Ten,Paul Chryst,3750000.0,3750000,NaN,290000.0,0,6000000.0
128,Wyoming,Mt. West,Craig Bohl,1412000.0,1412000,450000.0,236000.0,0,8016667.0

In [23]:
print(df.head(25))

                   School Conference              Coach    SchoolPay TotalPay  \
0               Air Force   Mt. West       Troy Calhoun       885000   885000
1                   Akron        MAC       Terry Bowden    $411,000    412500
2                 Alabama        SEC         Nick Saban  $8,307,000   8307000
3   Alabama at Birmingham      C-USA         Bill Clark    $900,000    900000
4       Appalachian State   Sun Belt  Scott Satterfield    $712,500    712500
5                 Arizona     Pac-12       Kevin Sumlin  $1,600,000   2000000
6           Arizona State     Pac-12       Herm Edwards  $2,000,000   2000000
7                Arkansas        SEC        Chad Morris  $3,500,000   3500000
8          Arkansas State   Sun Belt     Blake Anderson    $825,000    825000
9                    Army       Ind.        Jeff Monken       932521   932521
10                 Auburn        SEC        Gus Malzahn  $6,700,000   6705656
11             Ball State        MAC           Mike Neu    $435,689    435689
12                 Baylor     Big 12         Matt Rhule           --
13            Boise State   Mt. West       Bryan Harsin  $1,650,010   1650010
14         Boston College        ACC      Steve Addazio  $2,514,859   2514859
15          Bowling Green        MAC         Mike Jinks    $437,228    437228
16          Brigham Young       Ind.      Kalani Sitake           --
17                Buffalo        MAC      Lance Leipold    $455,500    455500
18             California     Pac-12      Justin Wilcox  $1,500,000   1500000
19        Central Florida        AAC        Josh Heupel  $1,700,000   1700000
20       Central Michigan        MAC      John Bonamego    $655,000    655000
21              Charlotte      C-USA       Brad Lambert    $625,000    625000
22             Cincinnati        AAC       Luke Fickell  $2,000,000   2000000
23                Clemson        ACC       Dabo Swinney  $6,205,000   6543350
24       Coastal Carolina   Sun Belt         Joe Moglia    $400,000    400000

          Bonus  BonusPaid AssistantPay        Buyout
0        247000         --          $0             --
1     $225,000    $50,000           $0      $688,500
2   $1,100,000   $500,000           $0   $33,600,000
3     $950,000   $165,471           $0    $3,847,500
4     $295,000   $145,000           $0    $2,160,417
5   $2,025,000          --          $0   $10,000,000
6   $3,010,000          --          $0    $8,166,667
7   $1,000,000          --          $0   $12,500,000
8     $185,000    $25,000           $0      $300,000
9            --         --          $0             --
10  $1,400,000   $375,000           $0   $32,143,750
11    $380,000    $30,000           $0      $980,300
12           --         --          $0             --
13    $475,000   $145,000           $0    $7,784,038
14           --         --          $0             --
15    $245,000    $81,250           $0      $874,456
16           --         --          $0             --
17    $381,000         $0           $0    $1,020,833
18    $900,000    $75,000           $0    $7,208,500
19    $250,000          --          $0    $3,587,500
20    $415,000    $45,000           $0    $1,125,000
21    $120,000         $0           $0      $556,389
22    $625,000         $0           $0    $7,100,000
23  $1,125,000   $500,000           $0   $35,000,000
24    $800,000    $25,000           $0      $516,667

In [24]:
pd.to_numeric(df.TotalPay)

0       885000.0
1       412500.0
2      8307000.0
3       900000.0
4       712500.0
5      2000000.0
6      2000000.0
7      3500000.0
8       825000.0
9       932521.0
10     6705656.0
11      435689.0
12           NaN
13     1650010.0
14     2514859.0
15      437228.0
16           NaN
17      455500.0
18     1500000.0
19     1700000.0
20      655000.0
21      625000.0
22     2000000.0
23     6543350.0
24      400000.0
25     2878500.0
26     1800000.0
27     1100000.0
28     2540928.0
29     1102500.0
         ...
99           NaN
100     500000.0
101    4311543.0
102    2401206.0
103    3846000.0
104    5500000.0
105    7500000.0
106    4840717.0
107     700000.0
108    3703975.0
109     700000.0
110    1100000.0
111    1125000.0
112     810000.0
113    1629000.0
114    1518177.0
115    3300000.0
116    3787917.0
117     900000.0
118    2812523.0
119    3550000.0
120    4000000.0
121    1831580.0
122    4377500.0
123    3500000.0
124    3617500.0
125     805850.0
126     800000.0
127    3750000.0
128    1412000.0
Name: TotalPay, Length: 129, dtype: float64

In [28]:
df

,School,Conference,Coach,SchoolPay,TotalPay,Bonus,BonusPaid,AssistantPay,Buyout
0,Air Force,Mt. West,Troy Calhoun,885000,885000,247000,--,$0,--
1,Akron,MAC,Terry Bowden,"$411,000",412500,"$225,000","$50,000",$0,"$688,500"
2,Alabama,SEC,Nick Saban,"$8,307,000",8307000,"$1,100,000","$500,000",$0,"$33,600,000"
3,Alabama at Birmingham,C-USA,Bill Clark,"$900,000",900000,"$950,000","$165,471",$0,"$3,847,500"
4,Appalachian State,Sun Belt,Scott Satterfield,"$712,500",712500,"$295,000","$145,000",$0,"$2,160,417"
5,Arizona,Pac-12,Kevin Sumlin,"$1,600,000",2000000,"$2,025,000",--,$0,"$10,000,000"
6,Arizona State,Pac-12,Herm Edwards,"$2,000,000",2000000,"$3,010,000",--,$0,"$8,166,667"
7,Arkansas,SEC,Chad Morris,"$3,500,000",3500000,"$1,000,000",--,$0,"$12,500,000"
8,Arkansas State,Sun Belt,Blake Anderson,"$825,000",825000,"$185,000","$25,000",$0,"$300,000"
9,Army,Ind.,Jeff Monken,932521,932521,--,--,$0,--
10,Auburn,SEC,Gus Malzahn,"$6,700,000",6705656,"$1,400,000","$375,000",$0,"$32,143,750"
11,Ball State,MAC,Mike Neu,"$435,689",435689,"$380,000","$30,000",$0,"$980,300"
12,Baylor,Big 12,Matt Rhule,--,,--,--,$0,--
13,Boise State,Mt. West,Bryan Harsin,"$1,650,010",1650010,"$475,000","$145,000",$0,"$7,784,038"
14,Boston College,ACC,Steve Addazio,"$2,514,859",2514859,--,--,$0,--
15,Bowling Green,MAC,Mike Jinks,"$437,228",437228,"$245,000","$81,250",$0,"$874,456"
16,Brigham Young,Ind.,Kalani Sitake,--,,--,--,$0,--
17,Buffalo,MAC,Lance Leipold,"$455,500",455500,"$381,000",$0,$0,"$1,020,833"
18,California,Pac-12,Justin Wilcox,"$1,500,000",1500000,"$900,000","$75,000",$0,"$7,208,500"
19,Central Florida,AAC,Josh Heupel,"$1,700,000",1700000,"$250,000",--,$0,"$3,587,500"
20,Central Michigan,MAC,John Bonamego,"$655,000",655000,"$415,000","$45,000",$0,"$1,125,000"
21,Charlotte,C-USA,Brad Lambert,"$625,000",625000,"$120,000",$0,$0,"$556,389"
22,Cincinnati,AAC,Luke Fickell,"$2,000,000",2000000,"$625,000",$0,$0,"$7,100,000"
23,Clemson,ACC,Dabo Swinney,"$6,205,000",6543350,"$1,125,000","$500,000",$0,"$35,000,000"
24,Coastal Carolina,Sun Belt,Joe Moglia,"$400,000",400000,"$800,000","$25,000",$0,"$516,667"
25,Colorado,Pac-12,Mike MacIntyre,"$2,878,500",2878500,"$2,150,000","$297,000",$0,"$10,314,583"
26,Colorado State,Mt. West,Mike Bobo,"$1,800,000",1800000,"$905,000","$50,000",$0,"$8,000,000"
27,Connecticut,AAC,Randy Edsall,"$1,100,000",1100000,"$650,000","$129,000",$0,"$1,000,000"
28,Duke,ACC,David Cutcliffe,"$2,540,928",2540928,--,--,$0,--
29,East Carolina,AAC,Scottie Montgomery,"$1,102,500",1102500,"$850,000",$0,$0,"$1,233,333"
...,...,...,...,...,...,...,...,...,...
99,Southern Methodist,AAC,Sonny Dykes,--,,--,--,$0,--
100,Southern Mississippi,C-USA,Jay Hopson,"$500,000",500000,"$870,000","$15,000",$0,"$1,583,333"
101,Stanford,Pac-12,David Shaw,"$4,311,543",4311543,--,--,$0,--
102,Syracuse,ACC,Dino Babers,"$2,401,206",2401206,--,--,$0,--
103,Tennessee,SEC,Jeremy Pruitt,"$3,846,000",3846000,"$1,200,000",--,$0,"$11,780,000"
104,Texas,Big 12,Tom Herman,"$5,500,000",5500000,"$725,000","$75,000",$0,"$15,416,667"
105,Texas A&M,SEC,Jimbo Fisher,"$7,500,000",7500000,"$1,350,000",--,$0,"$68,125,000"
106,Texas Christian,Big 12,Gary Patterson,"$4,840,717",4840717,--,--,$0,--
107,Texas State,Sun Belt,Everett Withers,"$700,000",700000,"$70,833",$0,$0,"$773,958"
108,Texas Tech,Big 12,Kliff Kingsbury,"$3,703,975",3703975,"$1,500,000","$25,000",$0,"$4,231,250"
109,Texas-El Paso,C-USA,Dana Dimel,"$700,000",700000,"$741,665",--,$0,"$2,991,667"
110,Texas-San Antonio,C-USA,Frank Wilson,"$1,100,000",1100000,"$185,000","$17,500",$0,"$3,562,500"
111,Toledo,MAC,Jason Candle,"$1,125,000",1125000,"$585,000","$210,000",$0,"$3,558,333"
112,Troy,Sun Belt,Neal Brown,"$810,000",810000,"$490,000","$100,000",$0,"$2,911,667"
113,Tulane,AAC,Willie Fritz,"$1,629,000",1629000,--,--,$0,--
114,Tulsa,AAC,Philip Montgomery,"$1,518,177",1518177,--,--,$0,--
115,UCLA,Pac-12,Chip Kelly,"$3,300,000",3300000,"$1,085,000",--,$0,"$9,000,000"
116,Utah,Pac-12,Kyle Whittingham,"$3,787,917",3787917,"$935,000","$279,167",$0,"$9,250,000"
117,Utah State,Mt. West,Matt Wells,"$900,000",900000,"$765,000","$65,000",$0,"$2,122,917"
118,Vanderbilt,SEC,Derek Mason,"$2,812,523",2812523,--,--,$0,--
119,Virginia,ACC,Bronco Mendenhall,"$3,550,000",3550000,"$2,165,000","$75,000",$0,"$18,193,750"
120,Virginia Tech,ACC,Justin Fuente,"$4,000,000",4000000,"$435,000","$75,000",$0,"$15,000,000"
121,Wake Forest,ACC,Dave Clawson,"$1,831,580",1831580,--,--,$0,--
122,Washington,Pac-12,Chris Petersen,"$4,375,000",4377500,"$1,050,000","$300,000",$0,"$26,354,166"
123,Washington State,Pac-12,Mike Leach,"$3,500,000",3500000,"$725,000","$75,000",$0,"$4,900,000"
124,West Virginia,Big 12,Dana Holgorsen,"$3,605,000",3617500,"$1,000,000","$90,000",$0,"$7,150,000"
125,Western Kentucky,C-USA,Mike Sanford Jr.,"$800,000",805850,"$400,000",$0,$0,"$1,200,000"
126,Western Michigan,MAC,Tim Lester,"$800,000",800000,"$346,500","$39,250",$0,"$800,000"
127,Wisconsin,Big Ten,Paul Chryst,"$3,750,000",3750000,--,"$290,000",$0,"$6,000,000"
128,Wyoming,Mt. West,Craig Bohl,"$1,412,000",1412000,"$450,000","$236,000",$0,"$8,016,667"